.container{
    height: 2.5rem;
    text-align: right;
}

.message{
    padding-right: 3rem;
    padding-top: 0.9rem;
    font-size: 1.2rem;
    height: 100%;
}

.success{
    background-color: rgb(196, 241, 128, 0.8);
}

.remove{
    background-color: rgba(236, 32, 32, 0.8);
}

